<nav class="top-nav">
  <ul class="nav-layout">
    <li>
      <details class="snappmaps-list">
        <summary>{{ title }}</summary>
        <ul>
          {% for group in groups %}
            {% for snappmap in group.snappmap %}
              <li>
                <a href="/snappmaps/{{ snappmap.snappthis_snapmap_uuid.uuid }}">
                  {{ snappmap.snappthis_snapmap_uuid.name }}
                </a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </details>
    </li>
    <li>
      <button>
        <img src="/assets/grid-white.svg">
      </button>
    </li>
  </ul>
</nav>
